<mat-sidenav-container class="sidenav-container">


    <!-- Side Navigation -->
    <mat-sidenav #sidenav mode="side" opened>

        <!-- Sidebar Header -->
        <mat-toolbar color="primary" class="sidebar-header">

            <div class="user-avatar">
                EM
            </div>
            <span class="title">Emp Management</span>

            <button mat-icon-button aria-label="Close sidebar" (click)="sidenav.close()">

                <mat-icon>close</mat-icon>

            </button>

        </mat-toolbar>

        <!-- Navigation Menu -->
        <mat-nav-list class="menu">

            <a mat-list-item routerLink="/admin/dashboard">
                <mat-icon matListItemIcon>dashboard</mat-icon>
                <span matListItemTitle>Dashboard</span>
            </a>

            <a mat-list-item routerLink="/admin/empoyee-list">
                <mat-icon matListItemIcon>people</mat-icon>
                <span matListItemTitle>Employee List</span>
            </a>

            <a mat-list-item>
                <mat-icon matListItemIcon>business</mat-icon>
                <span matListItemTitle>Departments</span>
            </a>

            <a mat-list-item>
                <mat-icon matListItemIcon>event</mat-icon>
                <span matListItemTitle>Attendance</span>
            </a>

            <a mat-list-item>
                <mat-icon matListItemIcon>assessment</mat-icon>
                <span matListItemTitle>Reports</span>
            </a>

            <a mat-list-item>
                <mat-icon matListItemIcon>settings</mat-icon>
                <span matListItemTitle>Settings</span>
            </a>

            <a mat-list-item>
                <mat-icon matListItemIcon>event</mat-icon>
                <span matListItemTitle>Attendance</span>
            </a>

            <a mat-list-item>
                <mat-icon matListItemIcon>assessment</mat-icon>
                <span matListItemTitle>Reports</span>
            </a>

            <a mat-list-item>
                <mat-icon matListItemIcon>settings</mat-icon>
                <span matListItemTitle>Settings</span>
            </a>

        </mat-nav-list>

    </mat-sidenav>


    <!-- Main Content -->
    <mat-sidenav-content>

        <!-- Top Toolbar -->


        <mat-toolbar color="primary">

            <!-- Menu -->
            <button mat-icon-button aria-label="Toggle sidebar" (click)="sidenav.toggle();  appLable()">

                <mat-icon>menu</mat-icon>

            </button>
            @if (isAppLableVisible()) {
            <h2 class="user-avatar">
                EM
            </h2>
            <span class="title">Employee Management</span>
            }


            <!-- Push profile section to right -->
            <span class="toolbar-spacer"></span>


            <!-- User Profile -->
            <div class="user-profile">

                <!-- Two-letter avatar -->
                <div class="user-avatar">
                    <!-- {{ loggerUserData?.employeeName?.substring(0, 2)?.toUpperCase() }} -->
                    {{ getUserInitials(loggerUserData?.employeeName || '') }}
                </div>


                <!-- User Details -->
                <div class="user-details">

                    <span class="user-name">
                        {{ loggerUserData?.employeeName }}
                    </span>

                    <small class="user-role">
                        {{ loggerUserData?.role }}
                    </small>

                </div>


                <!-- Logout -->
                <button mat-button class="logout-button" aria-label="Logout" (click)="onLogout()">

                    <mat-icon>logout</mat-icon>

                    <span>Logout</span>

                </button>

            </div>

        </mat-toolbar>





        <!-- Page Content -->
        <div class="content">

            <router-outlet></router-outlet>

        </div>

    </mat-sidenav-content>

</mat-sidenav-container>